* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto Serif", serif;
  background-color: #add8e6;
}

h1 {
  text-align: center;
}

.container {
  margin: 1rem auto;
  max-width: 600px;
  min-width: 320px;
}

.todo {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 15px;
}

.todo__input-add,
.search__todo {
  padding: 0.5em;
  font-size: 1.2 rem;
  background-color: #add8e650;
  border: 1px solid black;
  border-radius: 0.25em;
  transition: box-shadow 0.15s ease-in-out;
  box-shadow: 0 0 15px 4px rgba(74, 8, 230, 0.438);
}
.search__todo {
  width: 100%;
}

.todo__buttons {
  display: flex;
  justify-content: space-around;
}
.todo__button-add,
.todo__button-del-all {
  padding: 0.5em;
  width: 45%;
  cursor: pointer;
  background-color: rgba(6, 155, 43, 0.664);
  border-radius: 0.5em;
  font-size: x-large;
}

.todo__button-del-all {
  background-color: rgba(255, 0, 0, 0.521);
}
.todo__button-add:hover,
.todo__button-del-all:hover {
  opacity: 0.8;
}
.todo__item {
  margin: 1rem 0;
  border: 1px solid black;
  border-radius: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #add8e6;
  font-size: x-large;
}

.todo__checkbox {
  width: 30px;
  height: 30px;
  background-color: rgba(138, 216, 240, 0.226);
  border-radius: 0.5em;
  cursor: pointer;
}

.todo__button-del {
  width: 30px;
  height: 30px;
  pointer-events: none;
  opacity: 0.5;
  cursor: pointer;
  background-color: rgb(243, 94, 94);
  border-radius: 0.5em;
}

.todo__checkbox:checked ~ .todo__button-del {
  pointer-events: auto;
  opacity: 1;
}

.todo__checkbox:checked ~ .todo__title,
.todo__checkbox:checked ~ .todo__date {
  text-decoration: line-through;
}

.todo__checkbox:checked ~ .todo__item {
  background: rgba(1, 11, 14, 0.945);
}

.no-task {
  color: rgb(241, 67, 13);
  font-size: x-large;
  text-align: center;
}
hr {
  width: 500px;
}

.calc-tasks {
  display: flex;
  justify-content: space-around;
  font-size: large;
}

.search {
  width: 100%;
}
